<div class="container">
  <div
    class="h-100 mb-5 d-flex justify-content-center"
    *ngIf="watchListItems.length === 0"
  >
    <span class="fw-bolder fs-1 mt-5 d-block" style="color: #ddd"
      >Your watch list is empty</span
    >
  </div>
  <div class="row" *ngIf="watchList">
    <div class="d-flex flex-wrap vv">
      <div *ngFor="let movie of watchList.getItems()">
        <div class="div-card">
          <div class="movie m-2">
              <div class="done">
                <img class="" [src]="haveImg + movie.poster_path" alt="" />
                <h3 class="h6 mt-2 text-center">{{ movie.title }}</h3>
              </div>
            <button (click)="deleteFromCart(movie)" class="btn btn-danger d-block mx-auto">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
